body {
	margin: 10px;
}

#barra {
	font-family: Arial, Helvetica, sans-serif;
	height: 30px;
	width: 500px;
	padding-left: 100px;
	/* margin: 30px; */
	font-size: larger;
}

#preparo {
	width: 700px;
	height: 50px;
	 /* margin: 10px;  */
	background-color: rgba(235, 216, 113, 0.856);
	border: 2px dotted rgb(8, 8, 8);
	 /* padding-bottom: 10px; 
	padding-left: 10px;  */
	background-clip: content-box;
	display: flex;
	align-items: center;

}



#laranja {
	color: rgb(42, 78, 18);
	background-color: rgb(247, 188, 80);
	width: 120px;
	/* margin: 10px; */
}

#morango {
	color: rgb(42, 78, 18);
	background-color: rgb(248, 101, 101);
	width: 140px;
	/* margin: 10px; */
}
#limão {
	color: rgb(42, 78, 18);
	background-color: rgb(165, 197, 165);
	width: 100px;
	/* margin: 10px;
} */

.boxlaranja {
	width: 250px;
	height: 230px;
	/* margin: 2px; */
}
.boxmorango {
	width: 250px;
	height: 230px;
	/* margin: 2px; */
}
.boxlimao {
	width: 270px;
	height: 230px;
	/* margin: 2px; */
}
.box::after {
	border: 10px;
	width: 100px;
	left: 50px;

	color: black;
	margin-right: 10px;
}
/* p {
	margin: 10 px;
} */
