body {
	margin: 0px;
}

#barra {
	width: 100vw;
	height: 10vh;
	background-color: brown;

	justify-content: top;
	align-items: center;
}
#lista {
}
#titulo {
	white-space: nowrap;
	display: inline-flex;
}
#preparo {
	white-space: nowrap;
}
